<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>noSQL SMART BOT</title>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
    <div class="chat">
        <div class="chat-title">
            <h1>noSQL - Smart Bot</h1>
            <h2>online</h2>
            <figure class="avatar">
                <img src="{{ url_for('static',filename='image.jpg')}}" /></figure>
        </div>
        <div class="messages">
            <div class="messages-content"></div>
        </div>
        <div class="message-box">
            <input type="text" class="message-input" value="" placeholder="Type message...">
            <!-- i class="fa fa-file" id="trans" style="font-size:15px;color:white"></i-->
            <i class="fa fa-microphone" id="record" style="font-size:15px;color:white; float: right; margin-right: 3.75em;"> </i>
            <button type="submit" class="message-submit">Send</button>
        </div>

    </div>
    <div class="bg"></div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script>
    <script src="{{ url_for('static',filename='script.js')}}"></script>

    <script>
            $('#record').click(function () {
                alert('Recording started')
                $.ajax(
                    {
                        type: "POST",
                        url: "/record",
                        data: {
                            'rec': 'Start Recording: '
                        },
                        success: function (data) {
                            $('.message-input').val(data);
                        }
                    }
                )
            })
            $("body").delegate("#download", "click", function(){
                swal("Pls have", "sabar sagar", "info");
                $.ajax(
                    {
                        url: "/download",
                        type: "POST",
                        data: {
                            'download': 'CSV downloading: '
                        }
                    }
                )
            })

            $('#trans').click(function () {
                var id = $('.message-input').val();
                alert('Translating from Hindi to English')
                $.ajax(
                    {
                        type: "GET",
                        url: "/trans",
                        data: {
                            't': id
                        },
                        success: function (data) {
                            $('.message-input').val(data);
                        }
                    }
                )
            })

            $('.message-submit').click(function () {
                var id = $('.message-input').val();
                if ((parseInt(id)) >= 1 && (parseInt(id)) <= 100) {
                    $.ajax(
                        {
                            url: "/get_database",
                            type: "POST",
                            data: {

                                post_id: id
                            },
                            cache: false,
                            success: function (data) {
                                setTimeout(function () {
                                    $('.message.loading').remove();
                                    $('<div class="message new"><figure class="avatar"><img src="static/image.jpg" /></figure> ' + data + '</div>').appendTo($('.mCSB_container')).addClass('new');
                                    setDate();
                                    updateScrollbar();
                                }, 1000);
                            }
                        }
                    )
                    setTimeout(function () {
                        $('<div class="message message-personal">' + id + '</div>').appendTo($('.mCSB_container')).addClass('new');
                        setDate();
                        $('.message-input').val(null);
                        setDate();
                        updateScrollbar();
                    }, 1000);

                    $('.message.loading').remove();
                    updateScrollbar();
                    $('<div class="message loading new"><figure class="avatar"><img src="static/image.jpg" /></figure><span></span></div>').appendTo($('.mCSB_container'));
                    updateScrollbar();
                }
                else {
                    setTimeout(function () {
                        $('<div class="message message-personal">' + id + '</div>').appendTo($('.mCSB_container')).addClass('new');
                        setDate();
                        $('.message-input').val(null);
                        setDate();
                        updateScrollbar();
                    }, 1000);

                    $('.message.loading').remove();
                    updateScrollbar();
                    $('<div class="message loading new"><figure class="avatar"><img src="static/image.jpg" /></figure><span></span></div>').appendTo($('.mCSB_container'));
                    updateScrollbar();

                    console.log(id);

                    $.ajax(
                        {
                            url: "/getsql",
                            type: "POST",

                            data: {
                                'post_id': id
                            },

                            success: function (data) {
                                setTimeout(function () {
                                    $('.message.loading').remove();
                                    $('<div class="message new"><figure class="avatar"><img src="static/image.jpg" /></figure>' + data + ' <button id ="download"><i class="fa fa-microphone"></i></button> </div>').appendTo($('.mCSB_container')).addClass('new');
                                    setDate();
                                    updateScrollbar();
                                }, 1000);
                            }
                        }
                    )
                }
            })
            var myStringArray = "{{ ','.join(file_list) }}";
            var d = "";
            var arrayLength = myStringArray.split(",");
            for (var i = 0; i < arrayLength.length; i++) {
                console.log(arrayLength[i]);
                d = d + (i + 1).toString() + ". " + arrayLength[i] + "<br>";

            }
            var Fake = [
                'Hi there, I\'m noSQL - your assistant to retrieve data. <br><br>Select which database you want to access<br>' + d
            ]

            function fakeMessage() {
                if ($('.message-input').val() != '') {
                    return false;
                }

                $('<div class="message loading new"><figure class="avatar"><img src="static/image.jpg" /></figure><span></span></div>').appendTo($('.mCSB_container'));
                updateScrollbar();

                setTimeout(function () {
                    $('.message.loading').remove();
                    updateScrollbar();

                    $('<div class="message new"><figure class="avatar"><img src="static/image.jpg" /></figure>' + Fake[0] + msg + '</div>').appendTo($('.mCSB_container')).addClass('new');
                    setDate();
                    updateScrollbar();

                }, 1000);

            };
    </script>
</body>

</html>